<!-- footer starts -->
<footer class="bg-dark p-2 text-center">
    <div class="container">
        <p class="text-white">All Rights Reserved By <strong>Krishi Hal</strong></p>
    </div>
</footer>
<!-- footer ends -->