<!-- about section starts -->
<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"><img alt="" class="img-fluid" src="/images/aboutjpg.jpg"></div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                    <h2>हम बेहतरीन क्वालिटी की सेवाएं देते <br>
                   </h2>
                    <p>ग्राहक खुद, ग्राहक कंपनी की एडपिसिसिंग को आगे बढ़ाने में सक्षम होगा। संपूर्ण, अस्वीकार करने के प्रयास के साथ। उन्हें मान लो! अनसुलझे, वे नहीं जानते कि आविष्कारक को दर्द मिलेगा, खुशी के समय का दोष, मैं कुछ भ्रष्ट निकायों को समझाऊंगा। हालांकि, उसे पूछने दो। यह मानकर कि कुछ या, मैं अपनी पीड़ा समझाऊंगा, वह और पीड़ा सहकर अंधी होकर प्रसन्न होती है, क्या यह घृणा उनसे पैदा नहीं हुई है</p><a class="btn btn-warning" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- about section Ends -->