<!-- Contact starts -->
<section class="contact " id="contact">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Contact Us</h2>
                    <p>Kunal Lad</p>
                    <p>Phone: +91-9691264098</p>
                    <p>Email: ladkunal38@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-12 p-0 pt-4 pb-4">
                <!--for getting the form download the code from download button-->
            </div>
        </div>
    </div>
</section><!-- contact ends -->