
	<section class="portfolio section-padding " id="Recommendation">
		<div class="container">

				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Recommendation</h2>	
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Beatae explicabo atque natus corporis magni</p>
					</div>
				</div>
			
            
            
               
			<form action="/" method="post" class="d-flex row justify-content-center" >
              
				<div class="form-group mt-3 ">
				  <label for="soilType">Select the type of soil:</label>
				  <div class="form-check ">
					<input
					  class="form-check-input"
					  name="soil_type"
					  type="checkbox"
					  value="red"
					  id="redSoil"
					/>
					<label class="form-check-label" for="redSoil">Red Soil</label>
				  </div>
				  <div class="form-check mt-3 ">
					<input
					  class="form-check-input"
					  type="checkbox"
					  name="soil_type"
					  value="black"
					  id="blackSoil"
					/>
					<label class="form-check-label" for="blackSoil">Black Soil</label>
				  </div>
				</div>
		
				<div class="form-group">
					<label for="soilNutrientLevel">Select the soil nitrogen level:</label>
					<input
					  type="range"
					  class="form-control-range"
					  id="NitrogenLevelinput"
					  min="1"
					  max="100"
					  value="50"
					  name="Nitrogen_level"
					  oninput="updateNitrogenLevelLabel(this.value)"
					/>
					<label id="NitrogenLevelLabel">50%</label>
				  </div>
		  
				  <div class="form-group">
					<label for="soilNutrientLevel">Select the soil phosphorous level:</label>
					<input
					  type="range"
					  class="form-control-range"
					  id="PhosphorousLevelinput"
					  min="1"
					  max="100"
					  value="50"
					  name="phosphorous_level"
					  oninput="updatePhosphorousLevelLabel(this.value)"
					/>
					<label id="PhosphorousLevelLabel">50%</label>
				  </div>
				  <div class="form-group">
					<label for="soilNutrientLevel">Select the soil potassium level:</label>
					<input
					  type="range"
					  class="form-control-range"
					  id="PotassiumLevelinput"
					  min="1"
					  max="100"
					  value="50"
					  name="potassium_level"
					  oninput="updatePotassiumLevelLabel(this.value)"
					/>
					<label id="PotassiumLevelLabel">50%</label>
				  </div>

				  <div class="form-group">
					<label for="soilNutrientLevel">Select the soil Humidity level:</label>
					<input
					  type="range"
					  class="form-control-range"
					  id="HumidityLevelinput"
					  min="1"
					  max="100"
					  value="50"
					  name="humidity_level"
					  oninput="updateHumidityLevelLabel(this.value)"
					/>
					<label id="HumidityLevelLabel">50%</label>
				  </div>
		
				<div class="form-group mt-3">
				  <label for="todo">what do you want to do ?</label>
				  <div class="form-check mt-3">
					<input
					  class="form-check-input"
					  type="checkbox"
					  name="choice"
					  value="Harvest"
					  id="Harvest"
					/>
					<label class="form-check-label" for="Harvest">Harvest</label>
				  </div>
				  <div class="form-check mt-3">
					<input
					  class="form-check-input"
					  type="checkbox"
					  name="choice"
					  value="sowing"
					  id="sowing"
					/>
					<label class="form-check-label" for="sowing">sowing</label>
				  </div>
				</div>
				
				  
                <div class="form-group">
					
                    <div class="form-check mt-3">
                         <label for="month">Month:</label><br>
             <input type="text" id="month" name="month" />
            
            </div>
                    </div>
			     <script>
					
		// 				const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
		// 				let currentDate = new Date();
        //   let currentMonth = currentDate.getMonth(); // 0-based index, so add 1 to get the current month number
        //   document.getElementById("month").value = month[currentMonth]
		  
	
	    function updateNitrogenLevelLabel(value) {
		  document.getElementById("NitrogenLevelLabel").innerHTML = `${value}%`;
		}
		function updatePhosphorousLevelLabel(value) {
		  document.getElementById("PhosphorousLevelLabel").innerHTML = `${value}%`;
		}
		function updatePotassiumLevelLabel(value) {
		  document.getElementById("PotassiumLevelLabel").innerHTML = `${value}%`;
		}
		
		function updateHumidityLevelLabel(value) {
		  document.getElementById("HumidityLevelLabel").innerHTML = `${value}%`;
		}
	  
		
				 </script>
				  
				
		
				<!-- <div class="form-group mb-3">
				  
				  <label for="month" class="form-label">crop</label>
				  <input type="text" class="form-control" id="month" name="cropname">
				
			  </div>
		
			  <div class="form-group mb-3">
				  
				<label for="month" class="form-label">description</label>
				<input type="text" class="form-control" id="month" name="description">
			  
			</div>
			<div class="form-group mb-3">
				  
			  <label for="month" class="form-label">imageurl</label>
			  <input type="text" class="form-control" id="month" name="imageurl">
			
		  </div> -->
				
				<button type="submit" class="btn btn-primary mt-3">Search</button>
			  </form>
              
           
           
		</div>
	</section>